body,h1{
	margin:0;
}
a{
	text-decoration: none;
	color:#66757f;
}
ul{
	list-style: none;
	margin:0px;
	padding: 0px;
}
input{
	border:none;
	margin:0;
	padding:0;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
body{
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    overflow: hidden;
	background-color: #6e7db2;
	font: 14px "宋体",arial;
	color:#8c979f;
}
.box{
	width:1200px;
	height:650px;
	background-color: #fff;
	margin: auto ;
	border-radius:14px; 
}
.box .head{
	height:90px;
	padding-left:28px;
	padding-right:40px;
}
.head .left{
	float:left;	
	height:90px;
	width:150px;	
}
.head .left .name{
	float:left;	
	height:90px;
	line-height: 90px;
}
.head .title{
	float:left;
	margin-top: 10px ;
	padding-left: 60px;
	color:#389cd1;
	padding-top:4px;
	height: 66px;
	font:18px/66px "microsoft yahei";
	background:url(../img/sprite_head.png) no-repeat 0px 18px;
	overflow: hidden;
}
.head .tips{
	margin-left: 330px;
	margin-top: 10px;
	float: left;
	height: 79px;
	width: 220px;
	position: relative;
}
.tips div{
	position: absolute;
	height: 35px;
	padding: 2px 10px;
	border-radius: 10px;
	background: pink;
	color: #fff;
	font: 16px/35px "微软雅黑";
	top: 10px;
	display: none;
	text-align: center;
}
.tips div button{
	margin: 2px 10px;
	
}
.tips .time-delay.active{
	display: block;
}
.tips .dele-ok.active{
	display: block;
}
.tips .create-ok.suc{
	display: block;
	background: mediumvioletred;
}
.tips .create-ok.fail{
	display: block;
	background: dodgerblue;
}
.tips .selec-sure.active{
	display: block;
}.tips .dele-sure.active{
	display: block;
}
.tips .cove-sure.active{
	display: block;
}
.tips .rename-sure.active{
	display: block;
}
.head .right{
	float:right;
	height:90px;
}
.head .user{
	float:left;
	height:70px;
}
.head .photo{
	float:left;
	margin-top:25px;
	width:40px;
	height:40px;
	background:url(../img/sprite_head.png) no-repeat 0px -52px; 
	overflow: hidden;
}

.head .more{
	float:left;
	width:12px;
	height:6px;
	background: url(../img/sprite_head.png) no-repeat 0px -110px;
	margin-top: 40px;
	margin-left: 10px;
}
.head .line{
	float:left;
	width:1px;
	height:22px;
	background-color: #e0e6e7;
	margin:30px 14px 0px 15px;
}
.head .option{
	float:left;
	width:16px;
	height:16px;
	background: url(../img/sprite_head.png) no-repeat 0px -128px;
	margin-top:33px;
}
/*===============导航==================*/
.main{
}
.main .top_nav{
	float:left;
	width:1160px;
	height:48px;
	padding:10px 20px 0px;
	border-top:1px solid #d0d9de;
	border-bottom:1px solid #d0d9de;
	background-color: #ecf0f6;
}
.top_nav .nav_list{
	float:left;
	position: relative;
}
.top_nav .nav_item{
	float:left;
	border:1px solid #55addc;
	height:36px;
	padding-left: 20px;
	padding-right:25px ;
	margin-right:10px;
	background-color: #fff;
	border-radius: 4px;
}
.top_nav .last{
	padding-left: 10px;
	padding-right:8px;
}
.top_nav .nav_ico{
	float:left;
	width:18px;
	height:16px;
	background:url(../img/sprite_topnav.png) no-repeat ;
	margin-top:11px;
	margin-right: 18px;
}
.top_nav .ico2{
	background-position: 0px -17px;
}
.top_nav .ico3{
	background-position: 0px -34px;
}
.top_nav .ico4{
	background-position: 0px -51px;
}
.top_nav .ico5{
	background-position: 0px -68px;
}
.top_nav .ico6{
	background-position: 0px -85px;
}
.top_nav .ico7{
	background-position: 0px -102px;
	margin-right: 0px;
}
.top_nav .nav_text{
	float:left;
	height:36px;
	line-height: 36px;
}
#moveTo{
	position:absolute;
	width: 350px;
	height: 450px;
	z-index: 5;
	background: #fff;
	top: 100px;
	left: 700px;
	border-radius: 15px;
	padding: 15px;
	padding-top: 45px;
	border: 2px solid #55addc;
	display: none;
	z-index: 99;
}
#moveTo .move_title{
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	font: 16px/50px "微软雅黑";
	text-align: center;
}
#moveTo .move_title:hover{
	cursor: move;
}
#moveTo .moveToFile{
	margin: 5px;
	padding: 5px;
	width:100%;
	height: 370px;
	overflow: auto;
	border: 1px solid #000;
}
#moveTo button:nth-of-type(1){
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0 20px
}
#moveTo button:nth-of-type(2){
	position: absolute;
	bottom: 20px;
	right: 20px;
	margin: 0 20px
}

#moveTo.active{
	display: block;
}
.top_nav .topnav_right{
	float:right;
	height:58px;
}
.topnav_right .right_ico{
	float:left;
	width:16px;
	height:16px;
	padding:11px;
	border-radius: 4px;
	background: #55addc url(../img/sprite_topnav.png) no-repeat 0px -222px;
	margin-right:10px;
}
.topnav_right .rank{
	float:left;
	position: relative;
	padding-left: 10px;
	padding-right: 12px;
	border:1px solid #55addc;
	border-bottom: none;
	height:46px;
	width:34px;
	background-color: #fff;
}
.rank .rank_ico{
	float:left;
	width:16px;
	height:26px;
	background: url(../img/sprite_topnav.png) no-repeat 0px -254px;
	margin-right:8px;
}
.rank .rankmore_ico{
	float:left;
	width:10px;
	height:23px;
	background: url(../img/sprite_topnav.png) no-repeat 0px -283px;
}
.rank .option{
	position: absolute;
	right:0px;
	top:46px;
	width:130px;
	border: 1px solid  #55addc;
	padding: 5px 0;
	border-radius: 5px;
	z-index: 5;
}

.option a{
	display: block;
	padding-left:40px ;
	height:36px;
	line-height: 36px;
	color: #66757f;
	background:#fff url(../img/sprite_topnav.png) no-repeat 0px -128px ;
}
.option .letter{
background-color: #f5f8fa;
background-position:0px -160px ; 
}
.option .img{
	background-position:0px -191px ; 
}
.rank .option2{
	position: absolute;
	left:-130px;
	top:46px;
	width:16px;
	padding: 5px 0;
}
.option2 a{
	display: block;
	width:16px;
	height:36px;
	background:#fff url(../img/sprite_topnav.png) no-repeat 0px -308px ;
}
.option2 .letter2{
background-position:0px -340px ; 
}
.option2 .img2{
	background-position:0px -372px ; 
}
/*=============main_left============*/
.main .main_left{
	float:left;
	width:358px;
	height:500px;
	border-right:2px solid #e1e8ed;
	overflow: auto;
}

#left_list{
	padding:10px;
	position:relative;
}
.main_left .li_class{
	float:left;
	
	/*position:relative;*/
    left: 0px;
    display: block;
}

.li_class .no_more{
	display: inline-block;
    height: 19px;
    width: 10px;
    margin-right: 10px;
}
.li_class .more{
	display: inline-block;
    height: 19px;
    width: 10px;
    background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -97px;
    margin-right: 10px;
}
.li_class h2 {
	margin: 0;
	margin-right: 30px;
	word-break: keep-all;
	float:left;
  	height: 20px;
  	min-width: 140px;
  	font:   16px/20px arial;
 	padding: 4px 0px;
 	 display: flex;
 	 align-items: center;
 	 border: 2px solid rgba(0, 0, 0, 0);
}
.li_class .more_active{
	display: inline-block;
    height: 19px;
    width: 10px;
    background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px 5px;
    margin-right: 10px;
}
.li_class .text{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 22px;
    background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -116px;
}
.li_class h2:hover{
    background-color:#e1e8ee;
}.li_class h2.active{
    background-color:#e1e8ee;
}
.li_item{
	float:left;
	display: -none;
	padding-left: 40px;
}
.active{
	display :block;
}
/*.wy_class .wy_info{
	height:46px;
	padding-left: 20px;	
}
.wy_class .wy_more{
	float:left;
	width:10px;
	height:34px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px 27px;
	margin-right: 10px;
}
.wy_class .wy_text{
	float:left;
	margin-top: 10px;
	height:36px;
	line-height: 36px;
	padding-left: 22px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -10px;	
}
.wy_class .js_info{
	height:34px;
	padding-left: 48px;
	background-color: #e1e8ed;
}
.js_info .js_more{
	float:left;
	height:23px;
	width:10px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -37px;
	margin-right: 10px;
}
.js_info .js_text{
	float:left;
	margin-top: 3px;
	height:30px;
	line-height: 30px;
	padding-left: 22px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -64px;	
}
.wy_class .js_list{

}
.js_list .js_item{
	height:30px;
}
.js_item .item_123{
	height:30px;
	padding-left: 95px;
	background-color:#f0f3f6 ;
}
.js_item .item_123 a {
	display: block;
	height:30px;
	line-height: 30px;
	padding-left: 22px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -64px;	
}
.js_item .item_333{
	height:30px;
	padding-left: 77px;
	overflow: hidden;
}
.js_item .more{
	float:left;
	height:19px;
	width:10px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -91px;
	margin-right: 10px;
}
.js_item .text{
	float:left;
	height:30px;
	line-height: 30px;
	padding-left: 22px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -116px;	
}
.js_list .css{
	height:136px;
}
.css .css_info{
	height:46px;
	padding-left: 75px;	
}
.css .more{
	float:left;
	width:10px;
	height:34px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px 27px;
	margin-right: 10px;
}
.css .text{
	float:left;
	margin-top: 10px;
	height:36px;
	line-height: 36px;
	padding-left: 22px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -10px;	
}
.css .css_class {
	padding-left: 120px;
	height:30px;
}
.js_list .item_other{
	height:45px;
}
.css .css_class a{
	display: block;
	height:30px;
	line-height: 30px;
	padding-left: 22px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -116px;	
}
.js_list .item_11111{
	height:45px;
	padding-left: 95px;
}
.js_list .item_11111 .text {
	display: block;
	margin-top:13px;
	height:32px;
	line-height: 32px;
	padding-left: 22px;
	background: url(../img/sprite_mainleft.png) no-repeat padding-box 0px -12px;	
}*/
/*==================main_right===============*/
.main .main_right{
	float:left;
	width:840px;
	height: 500px;
	position: relative;
}
.main_right .breadcrum{
	height:48px;
	border-bottom:2px solid #e1e8ed;
	background-color: #fff;
}

.main_right .menu{
	position:absolute;
	z-index:7;
	width: 200px;
	height: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #f0f0f0;
	border: 1px solid #fff;
	top: 30px;
	left: 30px;
	display: none;
	/*overflow: hidden;*/
}
.menu.active{
	display: block;
}
.menu li{
	border-bottom: 1px solid #fff;
	width: 100%;
	height: 48px;
	font: 16px/48px "微软雅黑";
	text-align: center;
	position: relative;
}
.menu li:hover .item1{
	width: 200px;
	display: block;
	z-index: 5;
	position: absolute;
	left: 200px;
	top: 0;
	display: block;
	background: yellow;
}
.menu .item1{
	display: none;
}
.check{
	float:left;
	width:18px;
	height:18px;
	margin:15px 24px 0 15px;
}
.breadcrum .option_list{
	float:left;
	margin-top: 4px;
	height:44px;
	
}
.option_list .option_item{
	float:left;
	height:44px;
	line-height: 44px;
	color: #5f6465;
	font-weight:bold ;	
}
.option_item .option{
	float:left;
	padding:0px 50px 0 15px;
	background: url(../img/sprite_mainright.png) no-repeat right 12px;
}
.option_item .last{
	padding:0px 10px;
	background-position: 10000px 10000px;
	border-bottom:2px solid #55addc;
}
.main_right .content_list{
	background-color: #f5f8fa;
}
.content_list .content_item{
	height: 50px;
	border-bottom:1px solid #e1e8ed ;
}
.content_list .js{
	background-color: #f5f8fa;
}
.content_item .item_left{
	float:left;
	width:220px;
	margin-top:4px;
	height:46px;
	margin-right: 140px;
}

#right_list{
	height: 410px;
	padding: 20px;
	/*display: flex;
	justify-content: flex-start;
	align-content: center;*/
	position: relative;
}
.list-file{
	display: inline-block;
	width: 100px;
	height: 120px;
	margin: 10px;
	padding: 25px;
	border-radius: 10px;
	position: relative;
	background: #ebeff0;
	
}
.list-file:hover{
	border: 1px solid #6ea6c1;
	background: #fff;
}
.list-file.active{
	border: 1px solid #6ea6c1;
	background: #fff;
}
.file-img{
	margin: 10px auto;
	width: 80px;
	height: 72px;
	background: url(../img/1.png) no-repeat;
	background-size: 80px 72px;
}
.list-file:hover .file-checkbox{
	display: block;
}
.file-checkbox{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	background: #61abd8;
	font: 18px/25px "微软雅黑";
	color:#61abd8;
	display: none;
	text-align: center;
	box-sizing: border-box;
}
.list-file span.active{
	color:#fff;
	display: block;
}
.list-file:hover span{
	/*display: block;*/
}
.file-change-name{
	left: 0px;
	bottom: 0px;
	width:100px;
	height: 35px;
	font: 16px/35px "微软雅黑";
	text-align: center;
	display: block;
}
.file-show-name{
	display: inline-block;
	left: 0px;
	bottom: 0px;
	width:100px;
	height: 35px;
	font: 16px/35px "微软雅黑";
	text-align: center;
	display: none;
}
.file-name input.show{
	display: none;
	color:#77a6c2;
}
.file-name span.show{
	display: block;
}
.file-check-div{
	position: absolute;
	width:20px;
	height: 20px;
	border: 1px dotted #000;
	background: rgba(0,0,255,0.1);
}
/*.content_item .content_text{
	float:left;
	height:46px;
	padding-left: 34px;
	line-height: 46px;
	color: #66757f;
	background: url(../img/sprite_mainleft.png) no-repeat 0px -140px;
}
.content_item .item_right{
	float:left;
	height:30px;
	margin-top:20px;
}
.item_right a{
	float:left;
	margin-right:20px;
	width:16px;
	height:0px;
	padding-top: 30px;
	background: url(../img/sprite_mainright.png) no-repeat 0px -39px;
	overflow: hidden;
}
.content_item .time{
	float:right;
	height:46px;
	line-height: 46px;
	margin-top:4px;
	padding-right: 20px;
}
.item_right .ico_control2{
	background-position: 0px -76px;
}
.item_right .ico_control3{
	background-position: 0px -112px;
}
.item_right .ico_control4{
	background-position: 0px -148px;
}
.item_right .ico_control5{
	background-position: 0px -184px;
}
.content_list .js2{
	background-color: #fff;
}
.js2 .ico_control1{
	background-position: -22px -40px;
}
.js2 .ico_control2{
	background-position:-22px -76px;
}
.js2 .ico_control3{
	background-position: -22px -112px;
}
.js2 .ico_control4{
	background-position: -22px -148px;
}
.js2 .ico_control5{
	background-position: -22px -184px;
}*/